
html,
body {
  height: 100%;
}

.title{
  font-family: 'Lora-Regular';
  color: #3B2317;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
}

.container {
  max-width: 1121px;
  margin: 0 auto;
}