$color-accent: #3B2317;
$color-primary: #513C27;
$color-text-muted: #94897C;

$bg-primary: #E9E1D7;

%opensans-300{
  font-family: 'OpenSans-light', sans-serif;
  font-weight: 300;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%inter-400 {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
}

%lora-500 {
  font-family: 'Lora-Medium', sans-serif;
  font-weight: 500;
}

%btn{
  border: none;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
}
