@use 'reset';
@use 'vars';
@use 'fonts';
@use 'global';

body{
  @extend %opensans-400;
  font-size: 20px;
  line-height: 1.3;
  color: vars.$color-accent;
}

.header{
  padding: 20px 0 40px;
  text-transform: uppercase;
  font-size: 16px;
  color:vars.$color-primary;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  &__lang{
    display: flex;
    &-link--active{
      @extend %opensans-700;
    }
  }
  &__menu-list{
    display: flex;
    gap: 30px;
  }
  &__icon{
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.logo{
  display: inline-block;
}

.footer{
  &__top{
    padding: 55px 0 44px;
    margin-bottom: 50px;
  }
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: vars.$color-text-muted;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    gap: 83px;
    margin-bottom: 51px;
  }
  &__bottom-item{
    color: vars.$color-text-muted;
    line-height: 22px;
    font-size: 16px;
  }
  &__bottom-title{
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  &__bottom-item-social{
    display: flex;
    gap: 10px;
  }
  &__form{
    width: 250px;
    position: relative;
  }
  &__form-btn{
    position: absolute;
    right: 0;
    top: 8px;
    @extend %btn-reset;
  }
  &__input{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid vars.$bg-primary;
  }
  &__input::placeholder{
      color: vars.$color-text-muted;
  }
}

.top{
  min-height: 879px;
  background-image: url('../images/bg-top.jpg');
  @extend %bg-reset;
  &__inner{
    margin-left: 50%;
    padding-top: 115px;
  }
  &__title{
    font-family: 'Lora-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    color: #3B2317;
    margin-bottom: 60px;
  }
  &__link{
    color: #FFF;
    background-color: #3B2317;
    border-radius: 3px;
    padding: 12px 38px;
  }
}
