@use 'reset';
@use 'vars';
@use 'fonts';
@use 'global';

body{
  @extend %opensans-400;
  font-size: 20px;
  line-height: 1.3;
  color: vars.$color-accent;
}

.header{
  padding: 20px 0 40px;
  text-transform: uppercase;
  font-size: 16px;
  color:vars.$color-primary;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  &__lang{
    display: flex;
    &-link--active{
      @extend %opensans-700;
    }
  }
  &__menu-list{
    display: flex;
    gap: 30px;
  }
  &__icon{
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.logo{
  display: inline-block;
}

.footer{
  &__top{
    padding: 55px 0 44px;
    margin-bottom: 50px;
  }
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: vars.$color-text-muted;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    gap: 83px;
    margin-bottom: 51px;
  }
  &__bottom-item{
    color: vars.$color-text-muted;
    line-height: 22px;
    font-size: 16px;
  }
  &__bottom-title{
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  &__bottom-item-social{
    display: flex;
    gap: 10px;
  }
  &__form{
    width: 250px;
    position: relative;
  }
  &__form-btn{
    position: absolute;
    right: 0;
    top: 8px;
    @extend %btn-reset;
  }
  &__input{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid vars.$bg-primary;
  }
  &__input::placeholder{
      color: vars.$color-text-muted;
  }
}

.top{
  min-height: 90vh;
  @extend %bg-reset;
  &__inner{
    margin-left: 50%;
    padding-top: 115px;
  }
  &__title{
    font-family: 'Lora-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.2;
    color: #3B2317;
    margin-bottom: 60px;
  }
  &__link{
    color: #FFF;
    background-color: #3B2317;
    border-radius: 3px;
    padding: 12px 38px;
  }
}
.new-collection{
  &__inner{
    position: relative;
    padding: 150px 40px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lora-Regular';
    color: #94897C;
  }
  &__decor{
    position: absolute;
    background-image: url('../images/new-collection-decor.svg');
    background-repeat: no-repeat;
    top: -170px;
    left: -117px;
    width: 500px;
    height: 500px;
  }
  &__item{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
  }
  &__title{
    color: #3B2317;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    margin-bottom: 50px;
  }
  &__text{
    margin-bottom: 25px;
    width: 403px;
  }
  &__link{
    padding: 10px 66px;
    border: 1px solid #94897C;
    margin-top: auto;
    align-self: start;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
  }
  &__img{
    padding-top: 75px;
  }
  &__box{
    position: relative;
    display: flex;
  }
  &__box-img{
    position: absolute;
    left: -115px;
    top: 0;
    max-width: fit-content;
  }
  &__box-text{
    width: 289px;
    margin-top: auto;
    margin-bottom: 40px;
  }
}
