<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">
            Catalog
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            Collections
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            About
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            <img class="logo__img" src="images/src/logo.svg" alt="Logo">
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            Book your appointment
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            Contact
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-item">
        <h5 class="footer__bottom-title">
          Phones
        </h5>
        <a class="footer__bottom-phone" href="tel:+380978367320">+380 (97) 836 73 20</a>
        <a class="footer__bottom-phone" href="tel:+380999846862">+380 (99) 984 68 62</a>
      </div>
      <div class="footer__bottom-item">
        <h5 class="footer__bottom-title">
          Emails
        </h5>
        <a class="footer__bottom-mail" href="mailto:office@luxuriousbridalhaven.com">office@luxuriousbridalhaven.com</a>
        <a class="footer__bottom-mail" href="mailto:sales@luxuriousbridalhaven.com">sales@luxuriousbridalhaven.com</a>
      </div>
      <div class="footer__bottom-item">
        <h5 class="footer__bottom-title">
          Location
        </h5>
        <address class="footer__bottom-address">
          Ukraine, Kyiv,
          st. Arsenalna, 5
        </address>
      </div>
      <div class="footer__bottom-item">
        <h5 class="footer__bottom-title">
          Social
        </h5>
        <div class="footer__bottom-item-social">
          <a href="#">
            <svg width="26" height="26">
              <use xlink: href="images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a href="#">
            <svg width="26" height="26">
              <use xlink: href="images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__bottom-item">
        <h5 class="footer__bottom-title">
          Sign-up for our newsletter
        </h5>
        <form class="footer__form">
          <input class="footer__input" type="text" placeholder="Enter your email">
          <button class="footer__form-btn">
            <svg width="15" height="11">
              <use xlink: href="images/sprite.svg#letter"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</footer>
</div>

<script src="js/main.min.js"></script>
</body>

</html>