<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Luxurious Bridal Haven</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <a class="logo" href="#">
              <img class="logo__img" src="images/src/logo.svg" alt="Logo">
            </a>
          </div>
          <div class="header__lang">
            <a class="header__lang-link header__lang-link--active" href="#">EN</a>/
            <a class="header__lang-link" href="#">UA</a>
          </div>
          <nav class="header__menu">
            <ul class="header__menu-list">
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">
                  CATALOG
                </a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">
                  COLLECTIONS
                </a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">
                  ABOUT
                </a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">
                  BOOK AN APPOINTMENT
                </a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">
                  CONTACT
                </a>
              </li>
            </ul>
          </nav>
          <ul class="header__icon">
            <li class="header__icon-item">
              <a class="header__icon-link" href="#">
                <svg width="24" height="24">
                  <use xlink: href="images/sprite.svg#user"></use>
                </svg>
              </a>
            </li>
            <li class="header__icon-item">
              <a class="header__icon-link" href="#">
                <svg width="24" height="22">
                  <use xlink: href="images/sprite.svg#head"></use>
                </svg>
              </a>
            </li>
            <li class="header__icon-item">
              <a class="header__icon-link" href="#">
                <svg width="24" height="24">
                  <use xlink: href="images/sprite.svg#shopping-bag"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>